DATABASE_URL=postgres://money_matrix:money_matrix_local@localhost:4321/money_matrix_dev?sslmode=disable
TEST_DATABASE_URL=postgres://money_matrix:money_matrix_local@localhost:4321/money_matrix_test?sslmode=disable
E2E_DATABASE_URL=postgres://money_matrix:money_matrix_local@localhost:4321/money_matrix_test?sslmode=disable
HTTP_ADDR=:6060
APP_ENV=development
CORS_ALLOWED_ORIGIN=http://localhost:4040
